/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$color-ink: #141422;
$color-ink-light: #262633;
$color-gray: #d0d0d2;
$color-cream: #f9efc1;
$color-red: #e75225;
$color-yellow: #d8c13a;

$color-background: $color-ink;
$color-background-inner: $color-ink-light;
$color-background-footer: $color-ink;

$color-main-text-secondary: $color-gray;
$color-text-link: $color-yellow;








$padding: 20px; // For consistent padding
$grey: #f6f6f6; // Background color
$width: 640px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: $color-text-link; // Primary color for buttons and links
$font-color: $color-gray; // Default font color

// Typography
// -------

$body-font-family:          "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$body-font-size:            16px !default;
$body-font-weight:          400 !default;
$body-font-color:           $font-color !default;
$body-line-height:          1.6 !default;

// Notices
// -------

$notice-color-info:         #3d88ce !default;
$notice-color-success:      #81ad22 !default;
$notice-color-warning:      #c6a121 !default;
$notice-color-danger:       #be2c2c !default;

$notice-border-radius:      6px !default;
$notice-font-size:          $body-font-size !default;
$notice-font-weight:        $body-font-weight !default;
$notice-line-height:        $body-line-height !default;
$notice-padding:            8px 12px !default;
$notice-margin:             10px 0 !default;

// Dividers
// --------

$divider-margin:			20px 0 !default;
$divider-color:				$color-yellow !default;
