---
description: Sent when a user creates a new account from within the app
layout: default.hbs
subject: GitKraken — Account Created
header: Thank you for creating a GitKraken account
---

<p class='align-center'>
  If you did not create a GitKraken account, please <a href='%LINK_URL%'>contact us</a>.
</p>
