---
description: A legacy email sent out for users on pre v1.5.0 GitKraken on registering the app
layout: default.hbs
subject: GitKraken — Verify your email address
header: Activate your GitKraken installation
---

<p class='align-center'>
  If you did not create a GitKraken account, please <a href='%LINK_URL%'>contact us</a>.
</p>
