---
description: Sent to a user who already has a GitKraken account after being invited to join an organization
layout: default.hbs
subject: You've been invited to use %PLAN_NAME%!
header: You've been invited to use %PLAN_NAME% with %ORG_NAME%
---

<p class='align-center'>
  <a href='%MORE_INFO_URL%'>Click here</a> to learn more about your new %PLAN_NAME% account.
</p>
