---
description: Sent to a non-licensed user with no GitKraken account after being invited to use GitKraken
layout: default.hbs
subject: You've been invited to manage a %PLAN_NAME% account!
header: You've been invited to manage %ORG_NAME%'s %PLAN_NAME% account.
---

<p class='align-center'>
  <a href='%LINK_URL%'>Register</a> your account to begin managing.
</p>

{{> button type='primary' align='center' url='%LINK_URL%' title='Register' }}

<p class='align-center'>
  After registering, <a href='%MORE_INFO_URL%'>click here</a> to learn more about your new %PLAN_NAME% account.
</p>
