---
layout: default.hbs
subject: Simple GitKraken Email
<!-- preheader: This is preheader text. Some clients will show this text as a preview. -->
<!-- preheader-notice: Some custom header content. <a href="#">And a link</a>? -->
header: Activate your GitKraken installation
<!-- footer-notice: You can add as many custom footer elements as you like, just like in the header. <a href="#" target="_blank">Example link</a>. -->
---

<p><a href='%LINK_URL%'>Click here</a> to confirm your account.</p>
