---
layout: default.hbs
subject: GitKraken — Reset your password
header: Reset your GitKraken account password
---

<p>
  You recently requested to reset your GitKraken account password. Reset your password below.
</p>

{{> button type='primary' align='center' url='%LINK_URL%' title='Reset Password' }}

<p>
  This password reset will expire in %EXPIRES_IN_HOURS% hours.
</p>
