---
layout: default.hbs
subject: Simple GitKraken Email
<!-- preheader: This is preheader text. Some clients will show this text as a preview. -->
<!-- preheader-notice: Some custom header content. <a href="#">And a link</a>? -->
header: Reset your GitKraken account password
footer-notice: Didn't want to reset your password? <a href="%CANCEL_URL%" target="_blank">Click here</a>.
---

<p>You recently requesed a password reset for your GitKraken account. Click the button bellow to reset your password.</p>

{{> button type='primary' align='center' url='%LINK_URL%' title='Reset Password' }}

<p>This password reset will expire in %EXPIRES_IN_HOURS% hours.</p>
