---
description: Sent when a user creates an account from within the store
layout: default.hbs
subject: GitKraken — Confirm your account
header: Activate your GitKraken account
---

<p class='align-center'>
  <a href='%LINK_URL%'>Click here</a> to confirm your account.
</p>
