---
layout: default.hbs
subject: GitKraken — Reset your password
header: Reset your GitKraken account password
footer-notice: Didn't want to reset your password? <a href="%CANCEL_URL%" target="_blank">Click here</a>.
---

<p>
  You recently requesed a password reset for your GitKraken account. Click the button below to reset your password.
</p>

{{> button type='primary' align='center' url='%LINK_URL%' title='Reset Password' }}

<p>
  This password reset will expire in %EXPIRES_IN_HOURS% hours.
</p>
